.hidden
{
    display: none;
}

.background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#clock
{
    color: white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-size: 110px;
}

#quote
{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    color: white;
    width: 100%;
}

#weather
{
    text-align: right;
}

#greeting
{
    color:white;
    text-align: center;
    font-size: xxx-large;
    margin: 0;
}

#login-form
{
    margin: 0;
    text-align: center;
}

#login-question
{
    color: white;
    font-size: xxx-large;
}

#login-input
{
    color: white;
    font-size: xx-large;
    text-align: center;
    background: linear-gradient(white, white);
    background-position: bottom -1px center;
    background-size: calc(100% - 10px) 3px;
    background-repeat: no-repeat;
    border: 0;
    outline: none;
    margin-top: 10px;
}

#todo-form
{
    text-align: center;
    margin-top: 10px;
}

#todo-text
{
    color: white;
    font-size: x-large;
}

#todo-input
{
    color: white;
    font-size: x-large;
    text-align: center;
    background: linear-gradient(white, white);
    background-position: bottom -1px center;
    background-size: calc(100% - 10px) 3px;
    background-repeat: no-repeat;
    border: 0;
    outline: none;
    margin-top: 10px;
}

#todo-list
{
    color: white;
    text-align: center;
    list-style: none;
    font-size: large;
}

